@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

div {
  font-size: 16px;
  margin: 0;
}

.page-view {
  display: flex;
  flex-flow: column nowrap;
  min-width: 1280px;
  max-height: calc(100vh - 60px);
  padding: 30px;
}

.body-view {
  display: flex;
  flex: 1;
  height: 80vh;
  margin-top: 10px;
}

.left-view {
  flex: 1;
  width: 50%;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  margin-right: 10px;
}

.left-top-view {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  min-height: 600px;
}

.left-bottom-view {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.left-button-view {
  margin-top: 10px;
  height: 44px;
  display: flex;
  justify-content: flex-end;
}

.left-clean-button {
  background-color: lightcoral;
  margin-right: 10px;
}

.left-demo-button {
  background-color: lightseagreen;
  margin-right: 10px;
}

.left-copy-button {
  background-color: darkblue;
}

.left-copy-button,
.left-demo-button,
.left-clean-button {
  padding: 0 30px;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}

.left-copy-button:hover,
.left-demo-button:hover,
.left-clean-button:hover {
  opacity: 0.8;
}

.right-view {
  white-space: pre-wrap;
  height: 100%;
  overflow: auto;
  padding: 10px;
  width: 50%;
  flex: 1;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: white;
}

.green {
  color: #4ec9b0;
}

.blue {
  color: #569cd6;
}

.yellow {
  color: #dcdcaa;
}

.red {
  color: #f84f4f;
}

.align-right {
  margin-top: 10px;
  text-align: right;
}
