.editor {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.editor > .editor-header {
  padding: 30px;
  font-size: 36px;
  font-weight: bold;
}

.editor > .editor-body {
  flex: 1;
  display: flex;
  height: 60%;
}

.editor-body-left {
  border: 1px solid #999;
  flex: 1;
  margin-left: 30px;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  outline: none;
}

.editor-body-right {
  border: 1px solid #1e1e1e;
  background-color: rgb(30 30 30);
  flex: 1;
  margin-right: 30px;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  white-space: pre-wrap;
  overflow: auto;
  color: white;
}

.editor > .editor-footer {
  padding: 30px;
}

.footer-copy-hint {
  color: green;
}

.pink {
  color: rgb(197 134 192);
}

.green {
  color: #4ec9b0;
}

.blue {
  color: #9cdcfe;
}

.yellow {
  color: #dcdcaa;
}

.red {
  color: #f84f4f;
}

.white {
  color: white;
}

.align-right {
  margin-top: 10px;
  text-align: right;
}
